<%- include ('../partials/head.html') %>
<%- include ('../partials/navbar.html') %>

<div class="container mt-3">
    <h2 class="d-block d-md-none h1">Nosotros</h2>
    <h2 class="d-none d-md-block display-5">Nosotros</h2>
    <hr>
    <p class="lead">Somos una empresa familiar que busca constrantemente los mejores productos. Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Molestias qui vitae sequi quasi voluptatum facilis.</p>
    <p class="lead">Fundada en 2015 por Robert Chrismass Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Eveniet non neque sit itaque accusantium commodi, esse illo perferendis doloremque minima dignissimos,
        veritatis fugiat libero similique?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo repellendus eveniet sint adipisci nam eos
        aut soluta reiciendis similique expedita omnis ducimus, iusto debitis amet architecto iure cumque?
        Quibusdam, dolore.</p>

    <div class="row">
        <div class="col-6 col-md-4 mb-3">
            <img src="https://www.fillmurray.com/640/360" alt="">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="https://loremflickr.com/640/360" alt="">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="https://placekitten.com/640/360" alt="">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="https://baconmockup.com/640/360" alt="">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="https://placebeard.it/640x360" alt="">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="http://lorempixel.com/640/360" alt="">
        </div>
    </div>
</div>
<%- include ('../partials/footer.html') %>