<%- include ('../partials/head.html') %>
<%- include ('../partials/navbar.html') %>

<div class="container mt-3">
    <h2 class="d-block d-md-none h1">Buscando productos</h2>
    <h2 class="d-none d-md-block display-5">Buscando productos</h2>
    <hr>
    <div class="row">
        <p class="lead">Resultados para: <%= search %></p>
        <% if(products.length === 0) { %>
        <p class="text-center lead">
            No hay productos con esa descripcion
        </p>
        <% } else { %>
        <% products.forEach((product) => { %>
        <div class="col-6 col-md-4 mb-3 p-1">
            <a href="/products/<%= product.id %>" class="card rounded-lg">
                <div class="imagen-rectangular">
                    <img src="/img/products/<%= product.photo_url %>" class="card-img-top rounded-lg" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-dark"><%= product.name %></h5>
                    <p class="text-muted m-0">
                        <% if (product.description.length > 60) { %>
                        <%=   product.description.substring(0, 60) %> ...
                        <% } else { %>
                        <%= product.description %>
                        <% } %>
                    </p>
                    <p class="text-success m-0 lead">$<%= product.price %></p>
                </div>
            </a>
        </div>
        <% }) %>
        <% } %>
    </div>
</div>

<%- include ('../partials/footer.html') %>