<div class="bg-primary text-white text-center p-5 mt-4">
    <h3>¿Quieres realizar un pedido? Hablemos</h3>
    <div class="d-flex justify-content-center flex-column flex-md-row mt-4">
        <a href="https://api.whatsapp.com/send?phone=56982175420" target="_blank" class="btn btn-outline-light m-2"><i
                class="fab fa-whatsapp mr-2"></i>+569 8217 5420</a>
        <a href="/contact" class="btn btn-outline-light m-2"><i class="far fa-envelope mr-2"></i></i>Enviar
            mensaje</a>
    </div>
</div>

<footer class="text-center bg-primary text-light py-3 px-4 border-top">
    DOS ALAMOS &copy; Todos los derechos reservados 2020
</footer>








<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
</script>
</script>
<script src="/js/app.js"></script>
</body>

</html>