<%- include ('../partials/head.html') %>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Usuarios</h1>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="card p-2">
        <table id="dataTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th class="d-none">Fecha</th>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user) => { %>
                <tr>
                    <td><%= user.email %></td>
                    <td class="d-none"><%= user.date %></td>
                    <td><%= user.name %></td>
                    <td><%= user.role %></td>
                    <td>
                        <div class="d-flex">
                            <% if (user.role != 'ADMIN_ROLE') { %>
                            <button class="btn btn-outline-danger btn-sm mx-1" onclick="confirm('Este usuario se eliminara ¿Estás seguro?') ?
                                document.getElementById('form-delete-<%= user._id %>').submit() : null">
                                <i class="fas fa-trash"></i>
                            </button>
                            <% } %>
                        </div>
                    </td>
                    <form action="/admin/users/<%= user._id %>?_method=DELETE" id="form-delete-<%= user._id %>"
                        class="d-none" method="POST">
                        <input type="hidden" name="_method" value="DELETE" />
                    </form>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</section>



<script src="/js/admin/jquery.dataTables.min.js"></script>
<script src="/js/admin/dataTables.bootstrap4.min.js"></script>
<script src="/js/admin/dataTables.responsive.min.js"></script>
<script src="/js/admin/responsive.bootstrap4.min.js"></script>


<script>
    $('#dataTable').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "autoWidth": false,
        "responsive": true,
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
        },
        "order": [
            [1, "desc"]
        ]
    });
</script>


<%- include ('../partials/footer.html') %>