<%- include ('../partials/head.html') %>
<%- include ('../partials/navbar.html') %>

<div class="container mt-3 mb-5">
    <div class="col-md-6 mx-auto">
        <h1 class="mb-3">Actualizar mi contraseña</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto enim sunt vel, in laborum temporibus
            quos. Voluptatem ratione cumque quas exercitationem ea. Quaerat, cum cupiditate?</p>
        <form action="/reset-password/<%= id %>/<%= token %>" method="POST">
            <div class="mb-3 mt-4">
                <label for="password" class="form-label">Nueva contraseña</label>
                <input type="password" id="password" name="password" class="form-control" autofocus required
                    value="<% if (data.password) { %> <%= data.password  %> <% } %>">
            </div>
            <div class="mb-3 mt-4">
                <label for="password" class="form-label">Confirmar contraseña</label>
                <input type="password" id="password" name="password_confirm" class="form-control" autofocus required
                    value="<% if (data.passwordConfirm) { %> <%= data.passwordConfirm %> <% } %>">
            </div>
            <button type="submit" class="btn btn-success btn-block">Restablecer contraseña</button>
        </form>
    </div>
</div>

<%- include ('../partials/footer.html') %>