<%- include ('../partials/head.html') %>
<%- include ('../partials/navbar.html') %>

<div class="container mt-3 mb-5">
    <div class="col-md-6 mx-auto">
        <h1 class="mb-3">Registrarse</h1>
        <form action="/register" method="POST" class="validate-form">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="name" name="name" id="name" class="form-control field-required"
                    value="<% if(data.name) {%><%= data.name %><% } %>">
                <div class="form-text text-danger d-none">
                    Campo requerido
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control field-required"
                    value="<% if(data.email) {%><%= data.email %><% } %>">
                <div class=" form-text text-danger d-none">
                    Campo requerido
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" name="password" id="password" class="form-control field-required">
                <div class="form-text text-danger d-none">
                    Campo requerido
                </div>
            </div>
            <div class="mb-3">
                <label for="password_confirm" class="form-label">Confirmar contraseña</label>
                <input type="password" name="password_confirm" id="password_confirm"
                    class="form-control field-required">
                <div class="form-text text-danger d-none">
                    Campo requerido
                </div>
            </div>
            <button id="buttonSubmit" type="submit" class="btn btn-primary btn-block">Registrarse</button>
        </form>
        <hr>
        <p class="text-center">Ya tengo cuenta. <a href="/login" class="text-link">Ingresar.</a></p>
    </div>
</div>

<%- include ('../partials/footer.html') %>